*.bcf
*.gz
*.xml
*.vo
*.glob
*.v.d
*.coq
.DS_Store
*.aux
*.vtc
*.glo
*.idx
*.log
*.thm
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.vos
*.vok
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
auto/*
*.fls
*.code-workspace
*.pdf
*.rel
*.d
*.nav
*.snm
*.cut
*.lia.cache
.coq-native
coq/Makefile.coq.conf


coq/html/*
website/*.html
